<div class="panel panel-default">
	<div class="panel-heading">
		<b>BBCODE</b>
		<style>
			.dropdown-menu a{
				cursor: pointer;
			}
		</style>
	</div>
	<div class="panel-body panel-bbcode">
		<div class="row">
			<div class="btn-group row1" role="group" aria-label="Short tags">
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="e" value="&#xf003;" onclick="AddLink('EMAIL')" data-toggle="tooltip" title="[EMAIL=you@yoursite.com]My email address[/EMAIL]" />
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="w" value="&#xf08e;" onclick="AddLink('URL')" data-toggle="tooltip" title="[URL=http://yoursite.com]My website[/URL]" />
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="p" value="&#xf03e;" onclick="AddImg()" data-toggle="tooltip" title="[IMG]http://yoursite.com/image.jpg[IMG]" />
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="y" value="&#xf16a;" onclick="AddYoutube()" data-toggle="tooltip" title="[YOUTUBE]https://www.youtube.com/watch?v=4L5oaM8-xvQ[/YOUTUBE]" />
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="g" value="&#xf1d2;" onclick="AddGist()" data-toggle="tooltip" title="[GIST]https://gist.github.com/youruser/4ff8ea070432c252515240fcbd15a9d[/GIST]"/>
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="l" value="&#xf022;" onclick="AddList()" data-toggle="tooltip" title="[LIST=a][*]point 1[/*][*]point 2[/*][/LIST] [LIST=1][*]point 1[/*][*]point 2[/*][/LIST]"  />
			  <input class="btn btn-secondary btn-primary" style="font-family: FontAwesome" type="button" accesskey="q" value="&#xf10d;" onclick="AddQuote()" data-toggle="tooltip" title="[QUOTE=Nickname]Quote[/QUOTE]" />
			</div>
		</div>  
		<div class="row">
		
		<div class="btn-group row2" role="group" aria-label="Text formatting">
			<div class="btn-group" role="group">
				<button id="btnGroupDrop1" type="button" class="btn btn-success btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Formatting
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				  <a class="dropdown-item col-lg-12" accesskey="b" value="B" onclick="AddB()"><font style="font-weight: bold;">Bold</font></a><br>
				  <a class="dropdown-item col-lg-12" accesskey="u" value="U" onclick="AddU()"><font style="font-style: underline;">Underlined</font></a><br>
				  <a class="dropdown-item col-lg-12" accesskey="i" value="I" onclick="AddI()"><font style="font-style: italic;">Italic</font></a><br>
				  <a class="dropdown-item col-lg-12" accesskey="s" value="S" onclick="AddS()"><font style="text-decoration: line-through;">Serif</font></a><br>
				</div>
			  </div>
			<div class="btn-group" role="group">
				<button id="btnGroupDrop1" type="button" class="btn btn-success btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  %color%
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				  <a class="dropdown-item col-lg-12" style="color:#87CEEB;" onclick="AddTag('[COLOR=#87CEEB]', '[/COLOR]', '');">%skyblue%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#4169E1;" onclick="AddTag('[COLOR=#4169E1]', '[/COLOR]', '');">%royalblue%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#0000FF;" onclick="AddTag('[COLOR=#0000FF]', '[/COLOR]', '');">%blue%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FFA500;" onclick="AddTag('[COLOR=#FFA500]', '[/COLOR]', '');">%orange%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FF4500;" onclick="AddTag('[COLOR=#FF4500]', '[/COLOR]', '');">%orangered%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#DC143C;" onclick="AddTag('[COLOR=#DC143C]', '[/COLOR]', '');">%crimson%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FF0000;" onclick="AddTag('[COLOR=#FF0000]', '[/COLOR]', '');">%red%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#B22222;" onclick="AddTag('[COLOR=#B22222]', '[/COLOR]', '');">%firebrick%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#8B0000;" onclick="AddTag('[COLOR=#8B0000]', '[/COLOR]', '');">%darkred%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#008000;" onclick="AddTag('[COLOR=#008000]', '[/COLOR]', '');">%green%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#32CD32;" onclick="AddTag('[COLOR=#32CD32]', '[/COLOR]', '');">%limegreen%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#2E8B57;" onclick="AddTag('[COLOR=#2E8B57]', '[/COLOR]', '');">%seagreen%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FF1493;" onclick="AddTag('[COLOR=#FF1493]', '[/COLOR]', '');">%deeppink%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FF6347;" onclick="AddTag('[COLOR=#FF6347]', '[/COLOR]', '');">%tomato%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#FF7F50;" onclick="AddTag('[COLOR=#FF7F50]', '[/COLOR]', '');">%coral%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#800080;" onclick="AddTag('[COLOR=#800080]', '[/COLOR]', '');">%purple%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#4B0082;" onclick="AddTag('[COLOR=#4B0082]', '[/COLOR]', '');">%indigo%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#DEB887;" onclick="AddTag('[COLOR=#DEB887]', '[/COLOR]', '');">%burlywood%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#F4A460;" onclick="AddTag('[COLOR=#F4A460]', '[/COLOR]', '');">%sandybrown%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#A0522D;" onclick="AddTag('[COLOR=#A0522D]', '[/COLOR]', '');">%sienna%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#D2691E;" onclick="AddTag('[COLOR=#D2691E]', '[/COLOR]', '');">%chocolate%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#008080;" onclick="AddTag('[COLOR=#008080]', '[/COLOR]', '');">%teal%</a><br>
				  <a class="dropdown-item col-lg-12" style="color:#C0C0C0;" onclick="AddTag('[COLOR=#C0C0C0]', '[/COLOR]', '');">%silver%</a><br>
				</div>
			</div>
			
			<div class="btn-group" role="group">
				<button id="btnGroupDrop1" type="button" class="btn btn-success btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 %size%
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					<a class="dropdown-item col-lg-12" onclick="AddTag('[SIZE=1]', '[/SIZE]', '');"><font size="1">%tiny%</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[SIZE=2]', '[/SIZE]', '');"><font size="2">%small%</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[SIZE=3]', '[/SIZE]', '');"><font size="3">%normal%</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[SIZE=4]', '[/SIZE]', '');"><font size="4">%large%</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[SIZE=5]', '[/SIZE]', '');"><font size="5">%huge%</font></a><br>
				</div>
			</div>
			
			<div class="btn-group" role="group">
				<button id="btnGroupDrop1" type="button" class="btn btn-success btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 %font%
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=arial]', '[/FONT]', '');"><font style="font-family:'arial'">Arial</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=comic sans ms]', '[/FONT]', '');"><font style="font-family:'comic sans ms'">Comic</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=courier]', '[/FONT]', '');"><font style="font-family:'courier'">Courier</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=courier new]', '[/FONT]', '');"><font style="font-family:'courier new'">Courier New</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=tahoma]', '[/FONT]', '');"><font style="font-family:'tahoma'">Tahoma</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=times new roman]', '[/FONT]', '');"><font style="font-family:'times new roman'">Times New Roman</font></a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[FONT=verdana]', '[/FONT]', '');"><font style="font-family:'verdana'">Verdana</font></a><br>
				</div>
			</div>
			
			<div class="btn-group" role="group">
				<button id="btnGroupDrop1" type="button" class="btn btn-success btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 %align%
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					<a class="dropdown-item col-lg-12" onclick="AddTag('[ALIGN=center]', '[/ALIGN]', '');">%center%</a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[ALIGN=left]', '[/ALIGN]', '');">%left%</a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[ALIGN=right]', '[/ALIGN]', '');">%right%</a><br>
					<a class="dropdown-item col-lg-12" onclick="AddTag('[ALIGN=justify]', '[/ALIGN]', '');">%justify%</a><br>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

