<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#DDDDDD">
	<tr>
	  <td width="2%" class="title"><b>#</b></td>
	  <td width="5%" class="title"><b>ID</b></td>
	  <td colspan="2" width="35%" class="title"><b>Datei</b></td>
	   <td width="22%" class="title" align="left" colspan="1"><b>  
		Datum
	  </b></td>
	   <td width="14%" class="title" align="left" colspan="1"><b>
		Erstellt von
	  </b></td>
	  <td width="10%" class="title" align="right" colspan="1"><b>
		Size (mb)
	  </b></td>
	  <td width="12%" class="title" align="right" colspan="1"><b>
		Actions
	  </b></td>
	</tr>