<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#DDDDDD">
<tr>
	<td class="title" colspan="8" align="right" style="background-size: cover"> 
		<input id="" onclick="ajaxExecute('$fileBackupAjax','$back_url')" style="font-family: FontAwesome, Arial;height: 25px;margin: 5px;cursor: pointer;margin-right: 1px;margin-left: 1px;" type="submit" name="filesbackup" value="&#xf1c6; Dateien Backup" />
		<input id="" onclick="ajaxExecute('$sqlBackupAjax','$back_url')" style="font-family: FontAwesome, Arial;height: 25px;margin: 5px;cursor: pointer;margin-right: 1px;margin-left: 1px;" type="submit" name="sqlbackup" value="&#xf1c0; Datenbank Backup" />
		<input id="" onclick="ajaxExecute('$fullBackupAjax','$back_url')" style="font-family: FontAwesome, Arial;height: 25px;margin: 5px;cursor: pointer;margin-right: 1px;margin-left: 1px;" type="submit" name="fullbackup" value="&#xf0c7; Kompletter Backup" />
		<input id="" onclick="ajaxExecute('$deleteAllAjax','$back_url')" style="font-family: FontAwesome, Arial;height: 25px;margin: 5px;cursor: pointer;margin-right: 1px;margin-left: 1px;" type="submit" name="deleteAll" value="&#xf1f8; Delete All" />
	</td>
	</td>
</tr>
	<tr><td colspan="8" bgcolor="#ffe6e6" style="font-weight: bold; color: #333; line-height: 20px;padding: 10px;">
		Der Datei Backup dauert je nach größe des WebSPELL Ordners viel mehr zeit als die Datenbank, bitte Geduld haben.
	</td></tr>
	<tr>
	  <td width="2%" class="title"><b>#</b></td>
	  <td width="5%" class="title"><b>ID</b></td>
	  <td colspan="2" width="35%" class="title"><b>Datei</b></td>
	   <td width="22%" class="title" align="left" colspan="1"><b>  
		Datum
	  </b></td>
	   <td width="14%" class="title" align="left" colspan="1"><b>
		Erstellt von
	  </b></td>
	  <td width="10%" class="title" align="right" colspan="1"><b>
		Size (mb)
	  </b></td>
	  <td width="12%" class="title" align="right" colspan="1"><b>
		Actions
	  </b></td>
	</tr>