<tr>
	<td colspan="5">
		<div class="panel panel-primary">
			<div class="panel-heading white-link">$filename</div>
			<div class="panel-body">
			%description%<br>
			<hr>
			$fileinfo</div>
			<div class="panel-body"><b>%downloads_cl%</b>: $fileload</div>
			<div class="panel-body"><b>%rating%</b>: $ratingpic</div>
			<div class="panel-footer"><b>%dl%</b>: $link</div>
		</div>
	</td>

<!--     <td>$filename</td>
    <td>$fileinfo</td>
    <td>$fileload</td>
    <td>$ratingpic</td>
    <td>$link</td> -->
</tr>
