<div class="panel panel-info">
	<div class="panel-heading">
		<b>%stats%:</b>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th><b>%happy_birthday%</b></th>
			</tr>
			<tr>
				<td>
					<small>%today%: $birthdays<br>%next_7_days%: $birthweek</small>
				</td>
			</tr>
			<tr>
				<td>
					<div class="panel-footer">
						<b>%whos_online%</b><br>
						%now_online%: $user_on %and% $guests_on (%maximum_online%: $maxonline)
						<br>$user_names<br><br>
						<small>
							[<span class="ws-lose-color">%admin%</span>]
							[<span class="ws-draw-color">%moderator%</span>]
							[<span class="ws-win-color">%clanmember%</span>]
						</small>
						<br><br>
						<a href="index.php?site=whoisonline#was"><strong>%who_was_online%</strong></a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<strong>$posts</strong> %posts_in% <strong>$topics</strong> %topics%<br>
					%registered_users%: <strong>$registered</strong><br>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		%newest_member%: $newestmember
	</div>
</div>