<article class="news">
	<header>
		<h1><h1><span class="uppertext">$rubrikname</span> - &nbsp;<a class="titlelink" href="$header_url">$headline</a> $isintern</h1></h1>
		<p>Veröffentlicht: <time pubdate datetime="$date">$date</time></p>
	</header>
	<content>
		<div class="news-rubricpic">$rubricpic</div><br>
		$content
	</content>
	<footer>
		<p><span>%links%</span>: $related<br /></p>
	</footer>
	
	<!-- <button>? <i class="fa fa-thumbs-o-up"></i></button> <button>? <i class="fa fa-thumbs-o-down"></i></button> -->
	$adminaction
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><span style="overflow:hidden;">$comments</span></td>
      </tr>
    </table>
</article>